@import '../globalStyles/variables.scss';
@import '../globalStyles/mixins.scss';
@import '../globalStyles/reset.scss';
@import '../globalStyles/position.scss';
@import '../globalStyles/text.scss';
@import '../globalStyles/elements.scss';


body {
    font-family: 'Comfortaa-Regular';
    color: $color-dark;
}

app-header-view {
    width: 100%;
    display: flex;
}

app-lang-panel {
    position: fixed;
    left: 0;
    top: 20vh;
    z-index: 5;
}

main  {
    width: 100%;
    > router-outlet + * {
        width: 100%;
        height: 100%;
    }

    &.withHead {
        min-height: calc(100vh - 100px);
    }

    &.fullPage {
        min-height: 100vh;
    }
}
footer {
    width: 100%;
}
