@import '../../../globalStyles/variables.scss';

#langPanel {
    padding: 5px;
    border-radius: 0 5px 5px 0;
    background-color: $color-main;
    box-shadow: -2px 2px 10px $color-dark;
    opacity: 0.6;
    transition: 0.5s;
    &:hover {
        opacity: 1;
    }

    span {
        margin: 2.5px 0;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }
}