@keyframes bgChanger {
    0% {
        background-image: url('../../../globalStyles/resources/index_bg/cover1.jpg');
    }
    5% {
        background-image: url('../../../globalStyles/resources/index_bg/cover2.jpg');
    }
    10% {
        background-image: url('../../../globalStyles/resources/index_bg/cover3.jpg');
    }
    15% {
        background-image: url('../../../globalStyles/resources/index_bg/cover4.jpg');
    }
    20% {
        background-image: url('../../../globalStyles/resources/index_bg/cover5.jpg');
    }
    25% {
        background-image: url('../../../globalStyles/resources/index_bg/cover6.jpg');
    }
    30% {
        background-image: url('../../../globalStyles/resources/index_bg/cover7.jpg');
    }
    35% {
        background-image: url('../../../globalStyles/resources/index_bg/cover8.jpg');
    }
    40% {
        background-image: url('../../../globalStyles/resources/index_bg/cover9.jpg');
    }
    45% {
        background-image: url('../../../globalStyles/resources/index_bg/cover10.jpg');
    }
    50% {
        background-image: url('../../../globalStyles/resources/index_bg/cover11.jpg');
    }
    55% {
        background-image: url('../../../globalStyles/resources/index_bg/cover12.jpg');
    }
    60% {
        background-image: url('../../../globalStyles/resources/index_bg/cover13.jpg');
    }
    65% {
        background-image: url('../../../globalStyles/resources/index_bg/cover14.jpg');
    }
    70% {
        background-image: url('../../../globalStyles/resources/index_bg/cover15.jpg');
    }
    75% {
        background-image: url('../../../globalStyles/resources/index_bg/cover16.jpg');
    }
    80% {
        background-image: url('../../../globalStyles/resources/index_bg/cover17.jpg');
    }
    85% {
        background-image: url('../../../globalStyles/resources/index_bg/cover18.jpg');
    }
    90% {
        background-image: url('../../../globalStyles/resources/index_bg/cover19.jpg');
    }
    100% {
        background-image: url('../../../globalStyles/resources/index_bg/cover1.jpg');
    }
}
@keyframes showTextRight {
    50% {
        width: 0px;
        margin-left: 0;
    }
    100% {
        width: 35vw;
        margin-left: 1vw;
    }
}
@keyframes showTextDown {
    50% {
        transform: rotateX(-90deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}
