<section id="bgGallery" class="centerContent">
    <div class="shadowWrap centerContent flexColumn">
        <div class="maininfo centerContent">
            <div class="maininfologo"></div>
            <div class="maininfotitle flexColumn">
                <div class="brandname h2">{{locale.langPack['BRANDNAME']}}</div>
                <div class="credo h3-alt">{{locale.langPack['BRANDCREDO']}}</div>
            </div>
        </div>
        <div class="button success-button">
            {{locale.langPack['INDEX->START-TRAVEL-BTN']}}
            <div id="map-icon"></div>
        </div>
    </div>
</section>
<section class="centerContent">
    2Default main page
</section>
