@import './animations.scss';
@import '../../../globalStyles/variables.scss';

section {
    width: 100%;
    height: 100%;

    &#bgGallery {
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        animation: bgChanger 300s infinite;
        .shadowWrap {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            .maininfo {
                width: 51vw;
                height: 15vw;
                @include large {
                    width: 520px;
                    height: 150px;
                }
                @include medium {
                    flex-direction: column;
                    width: auto;
                    height: auto;
                }
                @include small {
                    flex-direction: column;
                    width: auto;
                    height: auto;
                }
                .maininfologo {
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50%;
                    background-image: url('../../../globalStyles/resources/logo.png');
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: rgba(255,255,255,0.8);
                    @include large {
                        width: 150px;
                        height: 150px;
                    }
                    @include medium {
                        width: 150px;
                        height: 150px;
                    }
                    @include small {
                        width: 150px;
                        height: 150px;
                    }
                }
                .maininfotitle {
                    width: 0;
                    padding: 2.75vw 0;
                    white-space: nowrap;
                    overflow: hidden;
                    color: white;
                    text-shadow: 2px 2px 5px black;
                    animation: showTextRight 2s forwards;
                    @include medium {
                        display: none;
                    }
                    @include small {
                        display: none;
                    }
                    .brandname {
                        
                    }
                    .credo {
                        margin-top: .5vw;
                        transform-origin: 0 0;
                        transform: rotateX(-90deg);
                        animation: showTextDown 1s 2s forwards;
                    }
                }
            }
            #map-icon {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                transition: 1s;
                background-image: url('../../../globalStyles/resources/map.svg');
                background-size: 80%;
                background-position-x: center;
                background-repeat: no-repeat;
            }
        }
    }
}