@import './animations.scss';
@import '../../../globalStyles/variables.scss';

section {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    animation: bgChanger 300s infinite;

    &:nth-child(1) {
        .shadowWrap {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            .maininfo {
                width: 51vw;
                height: 15vw;
                @include large {
                    width: 520px;
                    height: 150px;
                }
                @include medium {
                    flex-direction: column;
                    width: auto;
                    height: auto;
                }
                @include small {
                    flex-direction: column;
                    width: auto;
                    height: auto;
                }
                .maininfologo {
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50%;
                    background-image: url('../../../globalStyles/resources/logo.png');
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: rgba(255,255,255,0.8);
                    @include large {
                        width: 150px;
                        height: 150px;
                    }
                    @include medium {
                        width: 150px;
                        height: 150px;
                    }
                    @include small {
                        width: 150px;
                        height: 150px;
                    }
                }
                .maininfotitle {
                    width: 0;
                    padding: 2.75vw 0;
                    white-space: nowrap;
                    overflow: hidden;
                    color: white;
                    text-shadow: 2px 2px 5px black;
                    animation: showTextRight 2s forwards;
                    @include medium {
                        display: none;
                    }
                    @include small {
                        display: none;
                    }
                    .brandname {
                        
                    }
                    .credo {
                        margin-top: .5vw;
                        transform-origin: 0 0;
                        transform: rotateX(-90deg);
                        animation: showTextDown 1s 2s forwards;
                    }
                }
            }
            #map-icon {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                transition: 1s;
                background-image: url('../../../globalStyles/resources/map.svg');
                background-size: 80%;
                background-position-x: center;
                background-repeat: no-repeat;
            }
        }
    }
    &:nth-child(2) {
        height: 50vh;
        .shadowWrap {
            width: 100%;
            height: 100%;
            background-color: white;
            hr {
                width: 90%;
            }
            .ways {
                >div {
                    width: 200px;
                    height: 200px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    margin: 0 20px;
                    background-image: url('../../../globalStyles/resources/tourdelviv_sprite.png');
                    background-repeat: no-repeat;
                    background-position-y: -200px;
                    color: $color-dark;
                    cursor: pointer;
                    transition: 1s;
                    >span {
                        margin-bottom: 20px;
                        z-index: 1;
                    }
                }
                &>div:nth-child(1) {
                    background-position-x: 0;
                }
                &>div:nth-child(2) {
                    background-position-x: -200px;
                }
                &>div:nth-child(3) {
                    background-position-x: -400px;
                }
                >div>div {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('../../../globalStyles/resources/tourdelviv_sprite.png');
                    background-repeat: no-repeat;
                    background-position-y: 0px;
                    opacity: 0;
                    transition: 1s;
                    &:hover {
                        opacity: 1;
                    }
                }
                &>div:nth-child(1)>div {
                    background-position-x: 0;
                }
                &>div:nth-child(2)>div {
                    background-position-x: -200px;
                }
                &>div:nth-child(3)>div {
                    background-position-x: -400px;
                }
                
            }
        }
    }
    &:nth-child(3) {
        .shadowWrap {
            width: 100%;
            height: 100%;
            background-image: url('../../../globalStyles/resources/footer-start.png');
            background-position: bottom;
            background-repeat: repeat-x;
            background-color: rgba(0,0,0,0.5);
            h2 {
                color: white;
                text-shadow: 2px 2px 5px black;
            }
            hr {
                width: 90%;
            }
            .hotTours {
                width: 100%;
                flex-wrap: wrap;
                .tour {
                    flex: 0 0 15vw;
                    height: 15vw;
                    margin: 10px;
                    background-color: $color-alt;
                }
            }
        }
    }
}