<section id="bgGallery" class="centerContent">
    <div class="shadowWrap centerContent">
        <div class="maininfo verticalAlign">
            <div class="maininfologo"></div>
            <div class="maininfotitle flexColumn">
                <div class="brandname">{{locale.langPack['BRANDNAME']}}</div>
                <div class="credo">{{locale.langPack['BRANDCREDO']}}</div>
            </div>
        </div>
    </div>
</section>
<section class="centerContent">
    2Default main page
</section>
