<section class="centerContent">
    <div class="shadowWrap centerContent flexColumn">
        <div class="maininfo centerContent">
            <div class="maininfologo"></div>
            <div class="maininfotitle flexColumn">
                <h1 class="brandname h1">{{locale.langPack['BRANDNAME']}}</h1>
                <div class="credo h2-alt">{{locale.langPack['BRANDCREDO']}}</div>
            </div>
        </div>
        <div class="button success-button">
            {{locale.langPack['INDEX->START-TRAVEL-BTN']}}
            <div id="map-icon"></div>
        </div>
    </div>
</section>
<section class="centerContent flexColumn">
    <h2 class="h2 textAlignCenter">{{locale.langPack['INDEX->WHERE-YOU-WANT']}}</h2>
    <hr>
    <div class="ways centerContent flexWrap">
        <div class="accent-regular">
            <span>{{locale.langPack['WORLD']}}</span>
            <div></div>
        </div>
        <div class="accent-regular">
            <span>{{locale.langPack['LVIV']}}</span>
            <div></div>
        </div>
        <div class="accent-regular">
            <span>{{locale.langPack['UKRAINE']}}</span>
            <div></div>
        </div>
    </div>
</section>
<section class="centerContent flexColumn">
    <h2 class="h2 textAlignCenter">{{locale.langPack['INDEX->WHERE-YOU-WANT']}}</h2>
    <hr>
    <div class="ways centerContent flexWrap">
        <div class="accent-regular">
            <span>{{locale.langPack['WORLD']}}</span>
            <div></div>
        </div>
        <div class="accent-regular">
            <span>{{locale.langPack['LVIV']}}</span>
            <div></div>
        </div>
        <div class="accent-regular">
            <span>{{locale.langPack['UKRAINE']}}</span>
            <div></div>
        </div>
    </div>
</section>
