<div *ngIf="locale.langPack" id="footer" class="horizontalAlign">
    <div class="infoBlock horizontalAlign flexColumn">
        <h3 class="accent-regular-alt">{{locale.langPack['INFO']}}:</h3>
        <a routerLink="/program_loyality">{{locale.langPack['PROGRAMLOYAL']}}</a>
        <a href="http://tourdelviv.lviv.ua/travelcheck">{{locale.langPack['FLYTICKETS']}}</a>
        <a href="http://tourdelviv.lviv.ua/travelcheck">{{locale.langPack['TRAVELCHECK']}}</a>
    </div>
    <div class="contactsBlock centerContent">
        <h3 class="accent-regular-alt">{{locale.langPack['CONTACTS']}}:</h3>
    </div>
</div>